# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl
pip-wheel-metadata/

# Virtual environments
venv/
.venv/
env/
.env

# PyCharm
.idea/

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

*.pdf
